@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
body {
 background-image:;
}
div {
 outline:
}
div.container {
	background-image: url();
	width: 980px;
	height: auto;
	background-position: top center;
	background-repeat: no-repeat;
	margin: 0 auto;
}
div.clear {
	width: 0;
	height: 0;
	clear: both;
}
div.up-header {
	width: 980px;
	height: 133px;
}
/*---------------- Header ---------------*/
div.header {
	width: auto;
	min-height: 79px;
}
div.header-left {
	width: 380px;
	min-height: 79px;
	float: left;
	position: relative;
}
/*---------------- Search Tab ---------------*/
.header-search {
	position: absolute;
	top: 25px;
	height: 25px;
	width: 200px;
	margin: 0 10px;
	border: 1px outset buttonface;
	border-radius: 20px;
	background-color: transparent;
	font-family: Tahoma, Geneva, sans-serif;
}
.header-sub {
	float: left;
	position: absolute;
	top: 25px;
	left: 220px;
	height: 28px;
	width: 55px;
	background-color: transparent;
	border-radius: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}
/*---------------- Search Tab ---------------*/
div.header-right {
	width: auto;
	min-height: 79px;
	float: right;
}
/*---------------- Menu ---------------*/
div.menu {
	height: 79px;
	position: relative;
	top: 0;
}
div.menu > ul {
	list-style: none;
	width: 600px;
	margin: 0 auto;
}
div.menu ul li {
	float: left;
	border-right: 10px solid #FFF;
	position: relative;
}
div.menu ul li a {
	display: block;
	padding: 30px 42px;
	text-decoration: none;
	font-size: 13px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	color: #111;
}
div.menu > ul > li:hover a {
	color: #6F3;
}
div.menu > ul > li:first-child {
	border-left: 2px solid #FFF;
}
/*---------------- Sub-Menu ---------------*/
div.menu li ul {
	list-style-type: none;
	display: none;
	position: absolute;
	top: 42px;
	left: 0;
	border-top: 3px solid transparent;
}
div.menu li:hover ul {
	display: block;
	min-width: 100%;
}
div.menu li li {
	float: none;
	background-color: #B21;
	border-radius: 0 70px 0 50px;
}
div.menu li li:hover a {
	color: #00F;
}
div.menu li li a {
	white-space: nowrap;
}
/*---------------- Sub-Menu ---------------*/
/*---------------- Menu ---------------*/
/*Main MAMir*/
div.main {
	width: auto;
	height: 756px;
}
div.up-main {
	height: 550px;
	width: 100%;
 background-color:;
}
div.content-left-up-main {
	width: 652px;
	height: 550px;
	float: left;
}
div.content-left-up-main img {
	margin-top:
}
div.content-right-up-main {
	width: 328px;
	height: 550px;
	float: right;
	background-image: url(Images/back-2.jpg);
	background-repeat: no-repeat;
	background-position: left;
}
.lost, .matrix, .jaee-digar {
	width: 322px;
	height: 166.66px;
	border: dotted 3px gray;
	-moz-border-image: url(Images/border.jpg) 5 1 5 5 stretch stretch;
	-o-border-image: url(Images/border.jpg) 5 1 5 5 stretch stretch;
	-webkit-border-image: url(Images/border.jpg) 5 1 5 10 stretch stretch;
	border-image: url(Images/border.jpg) 5 1 5 10 stretch stretch;
	margin-bottom: 5px;
}
.lost p, .matrix p, .jaee-digar p {
	direction: rtl;
	text-align: right;
	line-height: 25px;
	font-family: Tahoma, Geneva, sans-serif;
	margin-right: 5px;
}
.lost-a, .matrix-a, .jaee-digar-a {
	text-decoration: none;
	color: #000;
	font-family: Metal Mania;
	font-size: 31px;
	display: block;
	text-align: center;
	font-weight: bold;
	width: 90px;
	margin: auto auto;
	text-shadow: 2px 2px #063;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.lost-a:hover, .matrix-a:hover, .jaee-digar-a:hover {
	color: #FFF;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
}
.jaee-digar-a {
	width: 207px;
}
.bishtar {
	text-decoration: none;
	font-size: 12px;
}
.bishtar:hover {
	text-decoration: underline;
}
div.down-main {
	height: 205px;
	width: 980px;
	background-image: url();
	background-repeat: repeat-x;
	padding: 1px 0px 0px 0px;
}
div.child-down-main {
	height: 90px;
	width: 778px;
	margin: 35px 90px;
	border: 1px solid #B7B5B2;
	border-radius: 10px;
	padding: 16px 11px 13px 11px;
	background-image: url(Images/back-3.jpg);
	background-repeat: no-repeat;
}
div.child0-down-main {
	height: 87px;
	width: 235px;
	position: relative;
}
.child0-down-main p {
	direction: rtl;
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 30px;
	font-size: 14px;
}
.child0-down-main a, #child1-down-main {
	float:left;
}
div.child0-down-main img:hover {
	opacity: 0.7;
}
div.child0-down-main a p {
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	font-family: Metal Mania;
	position: absolute;
	top: 30px;
	left: 90px;
	color: #000;
	text-shadow: 2px 2px #063;
	visibility: hidden;
	font-family: Metal Mania;
	font-size:9px;
}
div.child0-down-main a {
	text-decoration:none;
}
#child1-down-main a:hover p, #child2-down-main a:hover p, #child3-down-main a:hover p {
	visibility: visible;
	font-size: 50px;
	font-family: Metal Mania;
	color: #000;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#child2-down-main a p {
	left: 115px;
}
#child3-down-main a p {
	top:25px;
	left: 40px;
	line-height:40px;
}
#child2-down-main {
	float: right;
}
#child3-down-main {
	margin: 0px 263px;
	width:250px;
}
#child1-down-main, #child2-down-main {
	margin-right:2px;
}
/*End Main MAMir*/
/*---------------- Footer --------------- */
div.footer {
	width: auto;
	min-height: 261px;
	padding: 1px 0px 0px 0px;
}
div.mum-footer {
	height: 156px;
	width: 883px;
	margin: 39.5px 46px;
	border: 1px solid #B7B5B2;
	border-top: 1px solid #999;
	border-radius: 10px;
	padding-top: 1px;
}
div.child1-footer {
	height: 135px;
	width: 425px;
	margin: 10px 10px;
	float: left;
}
/*--------------div haye seryalha------------*/
/*----- in ghesmat hanoz niaz be virayesh darad--http://iranfilm11.com/---*/
div.footer-ch131 {
	width: 141px;
	height: 43px;
	float: left;
}
div.footer-ch132 {
	width: 141px;
	height: 43px;
	float: left;
}
div.footer-ch133 {
	width: 141px;
	height: 43px;
	margin-left: 282px;
}
div.footer-ch134 {
	width: 141px;
	height: 43px;
	float: left;
}
div.footer-ch135 {
	width: 141px;
	height: 43px;
	float: left;
}
div.footer-ch136 {
	width: 141px;
	height: 43px;
	margin-left: 282px;
}
/*--------------payane div haye seryalha------------*/
div.child2-footer {
	height: 135px;
	width: 427px;
	margin-left: 445px;
	margin-top: 10px;
}
.fb {
	background-image: url(Images/01.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	color: #999999;
	text-decoration: none;
}
.tw {
	background-image: url(Images/02.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	color: #999999;
	text-decoration: none;
}
.yt {
	background-image: url(Images/03.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	color: #999999;
	text-decoration: none;
}
.felesh {
	background-image: url(Images/04.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	color: #999999;
	text-decoration: none;
}
/*.amin {
	width:83px;
	height:52px;
	margin:-30px 80px;
	background-image:url(amin.jpg);
}*/
.copy {
	width: 570px;
	height: 35px;
	margin: -35px 170px;
}
a:hover {
	outline: none;
	border-bottom: none;
	text-shadow: #000;
}
