@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
body {
	background-image:url(../Images/negativ2.jpg);
}
div {
}
div.container {
	background-color: #FFF;
	width: 980px;
	height: 1230px;
	margin: 0 auto;
	border-left: solid 3px #FFFFFF;
	border-right: solid 3px #FFFFFF;
}
div.clear {
	width: 0;
	height: 0;
	clear: both;
}
div.up-header {
	width: 980px;
	height: 133px;
}
h1, h2 {
	visibility:hidden;
	display:none;
}
@font-face {
	font-family: 'Metal Mania';
	font-style: normal;
	font-weight: 400;
	src: local('Metal Mania'), local('MetalMania-Regular'), url(http://dlall.ir/web-font/Metal-Mania.woff) format('woff');
}
@font-face {
	font-family : "'B Homa'";
	src : url(http://dlall.ir/web-font/homa.eot);
	src : local('â˜º' ), url(http://dlall.ir/web-font/homa.woff) format('woff' ), url(http://dlall.ir/web-font/homa.ttf) format('truetype' ), url(http://dlall.ir/web-font/homa.svg) format('svg' );
	font-weight : normal;
	font-style : normal;
}
/*---------------- Header ---------------*/
div.header {
	width: auto;
	min-height: 79px;
}
div.header-left {
	width: 380px;
	min-height: 79px;
	float: left;
	position: relative;
}
/*---------------- Search Tab ---------------*/
.header-search {
	position: absolute;
	top: 25px;
	height: 25px;
	width: 200px;
	margin: 0 10px;
	border: 1px solid black;
	border-radius: 20px;
	background-color:transparent;
	font-family: Tahoma, Geneva, sans-serif;
	color:black;
	font-size:14px;
}
.header-sub {
	float: left;
	position: absolute;
	top: 25px;
	left: 220px;
	height: 28px;
	width: 55px;
	background-color: transparent;
	border-radius: 20px;
}
/*---------------- Search Tab ---------------*/
div.header-right {
	width: auto;
	min-height: 79px;
	float: right;
}
/*---------------- Menu ---------------*/
.rhm1 {
	width:380px;
	height:64px;
	margin:0 auto;
	background:url(http://dlall.ir/images/img-freeview/bgheader.jpg) repeat-x;
	position:relative;
	margin-top:10px;
}
.rhm1-left {
	background:url(http://dlall.ir/images/img-freeview/headerleft.jpg) no-repeat;
	width:15px;
	height:64px;
	float:left;
}
.rhm1-right {
	background:url(http://dlall.ir/images/img-freeview/headerright.jpg) no-repeat;
	width:15px;
	height:64px;
	float:right;
}
.menu {
	background:url(http://dlall.ir/images/img-freeview/bgheader.jpg) repeat-x;
	height:64px;
	top:0;
}
.menu > ul {
	list-style:none;
	margin:0 auto;
	text-align:right;
}
.menu li {
	float:left;
	list-style:none;
}
.menu li a {
	float:left;
	display:block;
	color:#ffe8cc;
	text-decoration:none;
	font:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:0 0 0 18px;
	height:34px;
	line-height:40px;
	text-align:right;
	cursor:pointer;
}
.menu li a span {
	float:left;
	display:block;
	padding:0 32px 0 18px;
}
.menu li.current a {
	color:#fff;
	background:url(http://dlall.ir/images/img-freeview/hoverleft.jpg) no-repeat left 5px;
}
.menu li.current a span {
	color:#fff;
	background:url(http://dlall.ir/images/img-freeview/hoverright.jpg) no-repeat right 5px;
}
.menu li a:hover {
	color:#fff;
	background:url(http://dlall.ir/images/img-freeview/hoverleft.jpg) no-repeat left 5px;
}
.menu li a:hover span {
	color:#fff;
	background:url(http://dlall.ir/images/img-freeview/hoverright.jpg) no-repeat right 5px;
}
/*Sub-Menu......
div.menu li ul {
	list-style-type: none;
	display: none;
	position:absolute;
	top: 65px;
	left:0;
	border-top: 3px solid transparent;
}
div.menu li:hover ul {
	display: block;
	min-width: 100%;
}
div.menu li li {
	float:none;
	
	
}
div.menu li li a:hover  {
	color: #fff;
	background:url(images/hover-l.gif) no-repeat left 5px;
}
div.menu li a:hover span {
	color: #fff;
	background:url(images/hover-r.gif) no-repeat right 5px;
}
div.menu li li a span {
	white-space: nowrap;
}
Sub-Menu*/
/*Menu*/
/*Main amin*/


div.download {
	width:750px;
	height:430px;
	float:left;
	margin:40px 100px;
	border: solid 1px #999999;
	border-radius:10px;
}
div.download1 {
	width:750px;
	height:215px;
	float:left;
}
div.child1-download {
	width:230px;
	height:195px;
	float:left;
	margin:10px;
}
div.child2-download {
	width:230px;
	height:195px;
	float:left;
	margin:10px;
}
div.child3-download {
	width:230px;
	height:195px;
	margin:10px 510px;
}
div.download2 {
	width:750px;
	height:215px;
}
div.child4-download {
	width:230px;
	height:195px;
	float:left;
	margin:10px;
}
div.child5-download {
	width:230px;
	height:195px;
	float:left;
	margin:10px;
}
div.child6-download {
	width:230px;
	height:195px;
	float:right;
	margin:10px 10px;
}
/*------------shoro childs-download------------*/
#f_container1 {
	position: relative;
	margin:0px;
	width: 230px;
	height: 195px;
	z-index: 1;
}
.face1.back1 {
	display: none;
}
#f_container1 {
	-webkit-perspective: 1000;
}
#f_card1 {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1.0s linear;
	-moz-transform-style: preserve-3d;
	-moz-transition: all 1.0s linear;
	-o-transform-style: preserve-3d;
	-o-transition: all 1.0s linear;
	-ms-transform-style: preserve-3d;
	-ms-transition: all 1.0s linear;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
}
#f_container1:hover #f_card1 {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.face1 {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.face1.back1 {
	display: block;
	-webkit-transform: rotateY(180deg);
	-webkit-box-sizing: border-box;
	-moz-transform: rotateY(180deg);
	-moz-box-sizing: border-box;
	-o-transform: rotateY(180deg);
	-o-box-sizing: border-box;
	-ms-transform: rotateY(180deg);
	-ms-box-sizing: border-box;
	transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 10px;
	background-color: #ddc;
}
.face1.back1 h5 {
	color: rgb(51,51,51);
	text-align: center;
}
.face1.back1 p {
	color: rgb(51,51,51)  ;
	direction: rtl;
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 30px;
	font-size: 14px;
}
.face1.back1 a {
	text-decoration:none;
	color:rgb(51,51,51);
	font-family: Tahoma, Geneva, sans-serif;
}
/*----------------- payan childs-download-------*/




div.main {
	width: auto;
	height: 756px;
}
div.up-main {
	height: 570px;
	width: 100%;
}
.child1-up-main {
	height:510px;
	width:915px;
	margin:0 auto;
	padding:5px 5px;
	text-align:right;
	text-align:justify;
	border:20px solid #999;
	border-image:url(../Images/Main/border-image-20x20.jpg) 20 20 20 20 stretch stretch;
	box-shadow:0 0 15px #000;
}
.one1-p {
	font-family: 'B Homa';
	font-size:36px;
	margin-bottom:10px;
	text-shadow:0 0 3px #000;
}
.tow2-p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	line-height:25px;
}
.Bold {
	font-weight:bold;
}
div.down-main {
	height: 205px;
	width: 980px;
	background-image: url();
	background-repeat: repeat-x;
	padding: 1px 0px 0px 0px;
}
div.child-down-main {
	height: 90px;
	width: 778px;
	margin: 60px 90px 35px 90px;
	border: 1px solid #B7B5B2;
	border-radius: 10px;
	padding: 16px 11px 13px 11px;
	background-image: url(../Images/Main/back-3.jpg);
	background-repeat: no-repeat;
}
div.child0-down-main {
	height: 87px;
	width: 235px;
	position: relative;
}
.child0-down-main p {
	direction: rtl;
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 30px;
	font-size: 14px;
}
.child0-down-main a, #child1-down-main {
	float:left;
}
div.child0-down-main img:hover {
	opacity: 0.7;
}
div.child0-down-main a p {
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	font-family: Metal Mania;
	position: absolute;
	top: 25px;
	left: 85px;
	color: #000;
	text-shadow: 2px 2px #063;
	visibility: hidden;
	font-family: Metal Mania;
	font-size:9px;
}
div.child0-down-main a {
	text-decoration:none;
}
#child1-down-main a:hover p, #child2-down-main a:hover p, #child3-down-main a:hover p {
	visibility: visible;
	font-size: 50px;
	font-family: Metal Mania;
	color: #000;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#child2-down-main a p {
	left: 115px;
}
#child3-down-main a p {
	top:20px;
	left: 40px;
	line-height:40px;
}
#child2-down-main {
	float: right;
}
#child3-down-main {
	margin: 0px 263px;
	width:250px;
}
#child1-down-main, #child2-down-main {
	margin-right:2px;
}
/*End Main MAMir*/
/*---------------- Footer --------------- */
/*---------------- Footer --------------- */
div.footer {
	width : auto;
	min-height : 261px;
	padding : 1px 0 0 0;
}
div.mum-footer {
	height : 130px;
	width : 883px;
	margin: 70px 46px 10px 46px;
	border : #b7b5b2 solid 1px;
	border-top : 1px solid #999;
	border-radius : 10px;
	padding-top : 1px;
}
div.child1-footer {
	height : 115px;
	width : 425px;
	margin : 10px 10px;
	float : left;
	font-size : 14px;
}
div.child1-footer p, div.child2-footer p {
	direction : rtl;
	text-align : right;
	font-family : 'B Homa';
}
div.child1-footer h6, div.child2-footer h6 {
	background-image : url(Images/Footer/footer-line.jpg);
	background-repeat : repeat-x;
}
div.child1-footer a {
	text-decoration : none;
}
.footer-ul1 {
	float : left;
}
.footer-ul2 {
	margin : 0 200px;
	width : 150px;
}
.footer img:hover {
	opacity : 0.800000011920928955078125;
}
.fb:hover, .tw:hover, .yt:hover, .felesh:hover {
	opacity : 0.800000011920928955078125;
}
div.footer-ch131 {
	width : 137px;
	height : 43px;
	float : left;
	border-right : 4px groove #fff;
}
div.footer-ch132 {
	width : 137px;
	height : 43px;
	float : left;
	border-right : 4px groove #fff;
}
div.footer-ch133 {
	width : 139px;
	height : 43px;
	margin-left : 282px;
}
div.footer-ch134 {
	width : 141px;
	height : 23px;
	float : left;
	color : rgb(0, 0, 0);
	text-align : center;
}
div.footer-ch134 a, div.footer-ch135 a, div.footer-ch136 a {
	color: #300;
}
div.footer-ch135 {
	width : 141px;
	height : 23px;
	float : left;
	color : rgb(0, 0, 0);
	text-align : center;
}
div.footer-ch136 {
	width : 141px;
	height : 23px;
	margin-left : 282px;
	color : rgb(0, 0, 0);
	text-align : center;
}
.footer-ch134:hover a, .footer-ch136:hover a, .footer-ch135:hover a {
	color : #678;
}
div.child2-footer {
	height : 115px;
	width : 427px;
	margin-left : 445px;
	margin-top : 10px;
	font-size : 14px;
}
.fb {
	background-image : url(Images/Footer/facebook.jpg);
	background-repeat : no-repeat;
	background-position : center left;
	padding-left : 30px;
	color : #999999;
	text-decoration : none;
	display : inline;
	line-height : 25px;
}
.tw {
	background-image : url(Images/Footer/tiwtter.jpg);
	background-repeat : no-repeat;
	background-position : center left;
	padding-left : 30px;
	color : #999999;
	text-decoration : none;
	display : inline;
	line-height : 25px;
}
.yt {
	background-image : url(Images/Footer/youtube.jpg);
	background-repeat : no-repeat;
	background-position : center left;
	padding-left : 30px;
	color : #999999;
	text-decoration : none;
	display : inline;
	line-height : 25px;
}
.felesh {
	background-image : url(Images/Footer/footer04.jpg);
	background-repeat : no-repeat;
	background-position : center left;
	padding-left : 30px;
	color : #999999;
	text-decoration : none;
	display : inline;
	line-height : 25px;
}
.copy {
	width : 570px;
	height : 25px;
	color : #888;
	margin: 25px 45px;
}
